#eps_transections_show {
    
    font-size: 12px !important;
}

#eps_transections_show tr, #eps_transections_show th, #eps_transections_show td{
    border: .1px solid black !important;
}
#eps_transections_show{
    margin-top:20px;
    padding-top:40px;;
}
.eps-success-msg {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-weight: bold;
}
.eps-error-msg {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #B00020;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-weight: bold;
}
.eps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 12px 16px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    margin-bottom:20px;
}

.eps-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.eps-left h3 {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
}

.eps-status-filter {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    width: 50%;
    z-index: 9;
    left:10%;
}

.eps-status-filter label {
    margin-bottom: 4px;
    color: #000;
    font-weight: 500;
}

.eps-status-filter select {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    font-size: 13px;
    width: 150px;
}

.eps-right {
    display: flex;
    gap: 10px;
}

.eps-btn {
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
}

.eps-btn-outline {
    background: #fff;
    border: 1px solid #2563eb;
    color: #2563eb;
}

.eps-btn-outline:hover {
    background: #2563eb;
    color: #fff;
}

.eps-btn-primary {
    background: #2563eb;
    color: #fff;
    border: 1px solid #2563eb;
}

.eps-btn-primary:hover {
    background: #1e40af;
}